.Button {
  font: var(--font-m);
  color: var(--primary-color);
}

.clear {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  padding: 0.8rem 1rem;
  border: 1px solid var(--primary-color);
  background: none;
}
