.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #101054;

  --primary-color: #04268b;
  --inverted-primary-color: #849604;

  --secondary-color: #054ea0;
  --inverted-secondary-color: #04ff04;
}
